import { storiesOf } from '@storybook/react';
import * as React from 'react';

import { {{ properCase name }} } from './index';

storiesOf('components/{{ properCase name }}', module)
.add('default', () => <div>Needs Implemtation</div>)
